option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application

  aws:elasticbeanstalk:application:environment:
    BACKEND_HEALTH_CHECK_PATH: /health
    FRONTEND_HEALTH_CHECK_PATH: /health
    DATA_HEALTH_CHECK_PATH: /health

  aws:elasticbeanstalk:environment:process:backend:
    Port: 3000
    Protocol: HTTP
    HealthCheckPath: { "Ref" : "BACKEND_HEALTH_CHECK_PATH" }

  aws:elasticbeanstalk:environment:process:frontend:
    Port: 8000
    Protocol: HTTP
    HealthCheckPath: { "Ref" : "FRONTEND_HEALTH_CHECK_PATH" }

  aws:elasticbeanstalk:environment:process:data:
    Port: 27017
    Protocol: TCP
    HealthCheckPath: { "Ref" : "DATA_HEALTH_CHECK_PATH" }
